services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: xai-backend
    ports:
      - "8000:8000"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: xai-frontend
    ports:
      - "3000:3000"
    env_file:
      - ./frontend/.env.prod
    depends_on:
      - backend

